<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NFL Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="static/js/app.js"></script>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>NFL Dashboard</h1>
        <p>Testing JSON</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="well">
          <h5>NFL Team:</h5>
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <div class="col-md-5">
        <div id="team_logo"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a2/National_Football_League_logo.svg/282px-National_Football_League_logo.svg.png" id="logo" alt="NFL Team Logo" width="250" height="250"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="plot"></div>
      </div>
    </div>
  </div>



</body>

</html>
